@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Chakra+Petch:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --mainFont: 'Roboto', sans-serif;
    --mainTitleFont: 'Alfa Slab One', cursive;
    --secondaryTitleFont: 'Chakra Petch', sans-serif;
    --blueText: rgb(15, 15, 129);
    --redText: #CA0202;
    --whiteText: white;
    --boxShadow: 3px 3px 8px 3px rgba(0,0,0,0.48);
    --boxShadowInset: inset 0px 2px 8px -2px rgba(0,0,0,0.41);
    --blueAccent: blue;
    --redAccent: #c40101;
    --mainBG: #F2F1FF;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: var(--secondaryTitleFont);
}

p{
    font-weight: 500;
}

a{
    font-weight: 500;
}


body{
    background-color: var(--mainBG);
}

section{
    display: block;
    width: 100%;
}

#services,
#attributes,
#gallery,
#reviews,
#about,
#contact,
#apply,
#operating-hours{
    padding: 2rem;
}

.section-title{
    text-align: center;
    font-size: 3rem;
    color: var(--blueText);
    margin-bottom: 3.5rem;
    font-family: var(--secondaryTitleFont);
    font-weight: 800;
    text-transform: uppercase;
}

.s-1{
    background-color: var(--mainBG);
}

.s-img{
    background-image:linear-gradient(rgba(213, 17, 17, 0.64)0%, rgba(224, 76, 76, 0.648) 5%, rgba(225, 173, 173, 0.664) 40%, rgba(215, 218, 247, 0.679) 76%, rgba(129, 137, 246, 0.7) 94%, rgba(75, 69, 246, 0.523) 100%),
    url(./images/flag.jpg);
    background-repeat: no-repeat;
    background-position: relative;
    background-attachment: fixed;
    background-size: cover;

}

.hidden{
    display:none;
}

/* --------------------Hero------------------- */

#hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(255, 0, 0, 0.64)0%, rgba(255, 61, 61, 0.648) 5%, rgba(255, 199, 199, 0.664) 40%, rgba(215, 218, 247, 0.679) 76%, rgba(129, 137, 246, 0.7) 94%, rgba(75, 69, 246, 0.723) 100%);
    background-size: cover;
    position: relative;
    left: 0;
    overflow: hidden;
    
}

#hero .back-video{
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -10000;
}

#hero:before {
    content: "";
    background: rgba(0, 21, 255, 0.66) linear-gradient(rgba(255, 0, 0, 0.64)0%, rgba(255, 61, 61, 0.648) 5%, rgba(255, 199, 199, 0.664) 40%, rgba(215, 218, 247, 0.679) 76%, rgba(129, 137, 246, 0.7) 94%, rgba(75, 69, 246, 0.723) 100%) repeat scroll 0% 0%;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
  
#hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#hero h1{
    font-size: 4rem;
    text-transform: uppercase;
    text-shadow: 2px 2px white;
    color: var(--blueText);
    letter-spacing: .3rem;
    font-weight: 500;
    margin-bottom: 2rem;
    font-family: var(--mainTitleFont);
}

#hero h2{
    font-size: 1.5rem;
    color: var(--whiteText);
    letter-spacing: .1rem;
    font-weight: 400;
    margin-bottom: 3rem;
    font-family: var(--secondaryTitleFont);
}

#hero .hero-btns-wrapper{
    width: 100vw;
}

#hero .hero-btns{
    display: flex;
    justify-content: space-around;
}

#hero .hero-btns a{
    text-decoration: none;
    color: var(--redText);
    font-size: 1.2rem;
    text-transform: uppercase;
    border: 3px solid var(--redText);
    padding: .5rem .75rem;
    border-radius: .3rem;
    transition: all .5s ease-in-out;
}

#hero .hero-btns a:hover{
    transform: scale(1.2);
    background-color: var(--blueText);
    color: var(--whiteText);
    border-color: var(--whiteText);
}

@media (max-width: 950px){
    #hero .hero-btns-wrapper{
        width: 20rem;
    }

    #hero .hero-btns{
        flex-direction: column;
    }

    #hero .hero-btns a{
        margin-bottom: 1.5rem;
    }
}

@media (max-width: 550px){
    #hero h1{
        font-size: 3rem;
    }
    #hero h2{
        font-size: 1rem;
    }
    #hero .hero-btns a{
        font-size: 1rem;
    }
}
/* --------------------End Hero------------------- */


/* --------------------Nav------------------- */

#navigation{
    background: blue;
    width: 100%;
    z-index: 9999;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    box-shadow: var(--boxShadow);
}

#navigation .nav-wrapper{
    width: 100%;
    display: table;
}

#navigation .logo{
    float: left;
}

#logo{
    height: 4rem;
    border-radius: .3rem;
    transition: all .5s ease-in-out;
}

#logo:hover{
    transform: rotate(-30deg);
}

#navigation .nav-links{
    display: flex;
    justify-content: space-around;
    list-style: none;
    line-height: 4rem;
    vertical-align: middle;
    transition: all .5s ease-in-out;
}

#navigation .nav-links a,
#navigation .nav-links a i{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: all .7s;
    font-size: 1.2rem;
}

#navigation .nav-links a:hover,
#navigation .nav-links a i:hover{
    color: red;
    font-size: 1.4rem;
}

#navigation .toggler{
    float: right;
    color: white;
    cursor: pointer;
    display: none;
    padding-top: .5rem;
    padding-right: .5rem;
}

#navigation .toggler i{
    font-size: 3rem;
}

@media (max-width: 800px){
    #navigation .nav-links a,
    #navigation .nav-links a i{
        font-size: 1rem;
    }

    #navigation .nav-links a:hover,
    #navigation .nav-links a i:hover{
        font-size: 1.2rem;
    }

}

@media (max-width: 650px){
    #navigation .nav-links a,
    #navigation .nav-links a i{
        font-size: .8rem;
    }

    #navigation .nav-links a:hover,
    #navigation .nav-links a i:hover{
        font-size: 1rem;
    }

}

@media (max-width: 550px){
    #navigation .nav-links a,
    #navigation .nav-links a i{
        font-size: 1.2rem;
    }

    #navigation .nav-links a:hover,
    #navigation .nav-links a i:hover{
        font-size: 1.4rem;
    }

    #navigation .nav-links{
        flex-direction: column;
        text-align: center;
        height: 100vh;
        display: none;
    }

    #navigation .toggler{
        display: block;
    }

    .collapse{
        display: flex !important;
    }
}

/* --------------------End Nav------------------- */

/* --------------------Services------------------- */
#services .services-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    justify-content: space-around;
    justify-items: center;
    align-items: stretch;
}

#services .service-card a{
    text-decoration: none;
}

#services .service-card i{
    font-size: 3rem;
    margin: 1rem;
}

#services .service-card h4{
    font-size: 1.5rem;
    margin: 1rem;
}

#services .service-card p{
    font-size: 1rem;
    margin: 1rem;
}

#services .service-card{
    width: 15rem;
    margin: 1rem;
    position: relative;
    text-align: center;
    background-color: white;
    box-shadow: var(--boxShadow);
    border-radius: .3rem;
    padding: 1rem .5rem;
    z-index: 1;
    transition: all 1s ease-in-out;
    overflow: hidden;
}

#services .service-card::before {
    content: '';
    position: absolute;
    background: var(--redText);
    right: 0;
    left: 0;
    bottom: 0;
    top: 100%;
    transition: all 1s;
    z-index: -1;
}

#services .service-card:hover::before {
    background: var(--blueAccent);
    top: 0;
    border-radius: 0px;
}

#services .service-content .drk{
    color: var(--blueAccent);
    transition: all 1s ease-in-out;
}

#services .service-content .md{
    color: var(--redText);
}

#services .service-content:hover .drk{
    color: var(--redText);
}

#services .service-content:hover .md{
    color: var(--whiteText);
}

@media (max-width: 1200px){
    #services .services-wrapper{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 900px){
    #services .services-wrapper{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px){
    #services .services-wrapper{
        grid-template-columns: 1fr;
    }
}

/* --------------------End Services------------------- */

/* --------------------Attributes------------------- */
#attributes{
    padding: 7rem 0;
}

#attributes .attributes-wrapper{
    display: flex;
    justify-content: space-around;
}

#attributes .attribute{
    color: var(--blueAccent);
    text-align: center;
    margin: 1rem;
}

#attributes .attribute i{
    font-size: 3rem;
    margin: 1rem;
}

#attributes .attribute span{
    font-size: 1.5rem;
}

@media (max-width: 850px){
    #attributes .attribute i{
        font-size: 2rem;
        margin: 1rem;
    }
    
    #attributes .attribute span{
        font-size: 1rem;
    }
}

@media (max-width: 550px){
    #attributes .attributes-wrapper{
        flex-direction: column;        
    }
    
    #attributes .attribute i{
        font-size: 3rem;
        margin: 1rem;
    }
    
    #attributes .attribute span{
        font-size: 1.5rem;
    }

}
/* --------------------End Attributes------------------- */


/* --------------------Gallery------------------- */


#gallery .container{
    margin: 2rem auto;
    position: relative;
}

#gallery .control{
    position:absolute;
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    z-index: 10;
    line-height: 25rem;
    vertical-align: middle;
}

#gallery .control i{
    font-size: 3rem;
    color: var(--redAccent);
    transition: all .5s ease-in-out;
    cursor: pointer;
}

#gallery .control i:hover{
    font-size: 3.5rem;
}

#gallery .next{
    padding-right: 1rem;
}

#gallery .prev{
    padding-left: 1rem;
}

#gallery .tns-nav {
    text-align: center;
    margin-top: 1rem;
}

#gallery .tns-nav button {
    height: .5rem;
    width: .5rem;
    margin: .25rem;
    background-color: var(--blueAccent);
    border: none;
    border-radius: 50%;
}

#gallery .tns-nav .tns-nav-active {
    background-color: var(--redAccent);
}

#gallery img{
    height: 25rem;
    object-fit: cover;
}
/* ----------------End-Gallery------------------- */

/* --------------------Reviews------------------- */

#reviews{
    padding-bottom: 7rem;
}

#reviews .reviews-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    justify-content: space-around;
    justify-items: center;
    align-items: stretch;
}

#reviews .review-wrapper{
    background-color: white;
    text-align: center;
    object-position: center;
    box-shadow: var(--boxShadow);
    width: 16rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: .3rem;
}

#reviews .review-wrapper img{
    border-radius: 50%;
    width: 9rem;
    height: 9rem;
    object-fit: cover;
    margin: 1rem;
    box-shadow: var(--boxShadow);
}


#reviews .star{
    color: var(--blueAccent);
    font-size: 1.7rem;
}

#reviews p{
    margin: 1.5rem 0;
    color: var(--redText);
}

#reviews h3{
    font-size: 2rem;
    color: var(--blueText);
    margin-bottom: 1rem;
}

#reviews h4{
    font-size: .7rem;
    color: var(--redText);
    font-weight: 500;
    letter-spacing: .2rem;
}

@media (max-width: 1200px){
    #reviews .reviews-wrapper{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 650px){
    #reviews .reviews-wrapper{
        grid-template-columns: 1fr;
    }
}
/* --------------------End Reviews------------------- */
/* --------------------About Us------------------- */
#about .about-wrapper{
    display: flex;
    align-items: center;
    justify-items: center;
}

#about img{
    max-width: 35rem;
    height: auto;
    border-radius: .4rem;
    box-shadow: var(--boxShadow);

}

#about p{
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--redText);
    text-align: justify;
    padding: 0 4rem;
}

@media (max-width: 1500px){
    #about .about-wrapper{
        flex-direction: column;
    }

    #about img{
        margin-bottom: 3rem;
    }

    #about p{
        line-height: 3rem;
    }
}

@media (max-width: 900px){
    #about img{
        max-width: 30rem;
    }

    #about p{
        padding:0 1rem;
    }
}

@media (max-width: 600px){
    #about p{
        line-height: 2rem;
        font-size: 1rem;
    }

    #about img{
        max-width: 20rem;
    }
}
/* --------------------End About Us------------------- */

/* --------------------Operating Hours------------------- */
#operating-hours{
    text-align: center;
    color: var(--blueAccent);
    padding: 5rem 1rem;
}

#operating-hours i{
    font-size: 7rem;
    margin-bottom: 2rem;
}

#operating-hours .section-title{
    font-size: 4rem;
    color: var(--blueAccent);
    margin-bottom: 3rem;
    letter-spacing: .2rem;
}

#operating-hours p{
    font-size: 2rem;
}

#operating-hours .hours{
    margin-bottom: 2rem;
    display: flex;
    width: 100vw;
    justify-content: center;
}

#operating-hours .hours p{
    margin-left: 1rem;
    margin-right: 1rem;
}

@media (max-width: 770px){
    #operating-hours .hours{
        flex-direction: column;
    }
    #operating-hours .section-title{
        font-size: 3rem;
    }
}

/* --------------------End Operating Hours------------------- */

/* --------------------Contact------------------- */

#contact .contact-wrapper{
    display: flex;
    justify-content: space-around;
    padding: 5rem 0;
}

#contact .contact a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--redAccent);
    transition: all .5s ease-in-out;
}

#contact .contact a:hover{
    transform: scale(1.2);
    color: var(--blueAccent);
}

#contact .contact a i{
    font-size: 5rem;
}

#contact .contact a h3{
    font-size: 3.5rem;
    line-height: 5rem;
    vertical-align: middle;
    margin-left: 1.5rem;
}

@media (max-width: 1200px){
    #contact .contact a i{
        font-size: 3rem;
    }
    
    #contact .contact a h3{
        font-size: 1.5rem;
        line-height: 3rem;
    }
}

@media (max-width: 900px){
    #contact .contact a i{
        font-size: 4rem;
    }
    
    #contact .contact a h3{
        display: none;
    }
}

/* --------------------End Contact------------------- */

/* --------------------Footer------------------- */
#footer{
    background-color: white;
    margin-top: 2rem;
}

#footer .footer-wrapper{
    display:grid;
    grid-template-areas: "copywrite social credit";
    grid-gap: 1rem;
    padding-top: 1rem;
    position: relative;
}

#footer .copywrite{
    grid-area: copywrite;
    font-size: .7rem;
    position:absolute;
    bottom: 0;
    left: 0;
    width: 13rem;
}

#footer .copywrite span{
    color: var(--blueAccent);
    font-size: .7rem;
}

#footer .social{
    grid-area: social;
    color: var(--redAccent);
    text-align: center;    
}

#footer .social a{
    color: var(--redAccent);
    padding: 0 1rem;
    transition: all .5s ease-in-out;
}

#footer .social a:hover{
    color: var(--blueAccent);
    
}

#footer .social a i{
    font-size: 1.5rem;
    padding-bottom: .4rem;
    transition: all .5s ease-in-out;
}

#footer .social a i:hover{
    transform: scale(1.2);
}

#footer .credit{
    grid-area: credit;
    text-align: right;
    font-size: .7rem;
    width: 12rem;
    float: right;
    position:absolute;
    bottom: 0;
    right: 0;
    
}

@media (max-width: 800px){
    #footer .footer-wrapper{
        grid-template-areas:  "social    social"
                              "copywrite credit";
        position:relative;
        grid-gap: 0;
    }
    #footer .credit{
        position:relative;
    }
    #footer .copywrite{
        position: relative;
    }
}

/* --------------------End Footer------------------- */

/* --------------------Header------------------- */
#header{
    background-image:linear-gradient(rgba(224, 76, 76, 0.648) 0%, rgba(129, 137, 246, 0.7) 74%, rgba(75, 69, 246, 0.523) 100%),
    url(./images/flag.jpg);
    background-position: relative;
    background-attachment: fixed;
    height: 20rem;
    background-repeat: no-repeat;
    background-size: cover;

}

#header .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 20rem;
}

#header h1{
    font-size: 4rem;
    text-transform: uppercase;
    text-shadow: 2px 2px white;
    color: var(--blueText);
    letter-spacing: .4rem;
    font-weight: 500;
    margin-top: 2rem;
    font-family: var(--mainTitleFont);
}

#header h2{
    font-size: 1.2rem;
    color: var(--whiteText);
    letter-spacing: .1rem;
    font-weight: 400;
    margin-bottom: 2rem;
}


@media (max-width: 1050px){
    #header h1{
        font-size: 3rem;
    }

    #header h2{
        font-size: 1rem;
    }
}

@media (max-width: 810px){
    #header h1{
        font-size: 2.6rem;
    }
}
@media (max-width: 650px){
    #header .header-btns a{
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media (max-width: 570px){
    #header .header-btns a{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media (max-width: 505px){
    #header .header-btns{
        flex-direction: column;
    }
}
/* --------------------End Header------------------- */

/* --------------------Services.html------------------- */

#helping-hand .container,
#construction .container,
#assembly .container,
#home-repairs .container,
#painting .container,
#demolition .container,
#junk-removal .container,
#delivery .container{
    margin: 5rem 1rem;
    position: relative;
}

#helping-hand .control,
#construction .control,
#assembly .control,
#home-repairs .control,
#painting .control,
#demolition .control,
#junk-removal .control,
#delivery .control{
    position:absolute;
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    z-index: 10;
    line-height: 20rem;
    vertical-align: middle;
}

#helping-hand .control i,
#construction .control i,
#assembly .control i,
#home-repairs .control i,
#painting .control i,
#demolition .control i,
#junk-removal .control i,
#delivery .control i{
    font-size: 3rem;
    color: var(--redAccent);
    transition: all .5s ease-in-out;
    cursor: pointer;
}

#helping-hand .control i:hover,
#construction .control i:hover,
#assembly .control i:hover,
#home-repairs .control i:hover,
#painting .control i:hover,
#demolition .control i:hover,
#junk-removal .control i:hover,
#delivery .control i:hover{
    font-size: 3.5rem;
}

#helping-hand .next,
#construction .next,
#assembly .next,
#home-repairs .next,
#painting .next,
#demolition .next,
#junk-removal .next,
#delivery .next{
    padding-right: 1rem;
}

#helping-hand .prev,
#construction .prev,
#assembly .prev,
#home-repairs .prev,
#painting .prev,
#demolition .prev,
#junk-removal .prev,
#delivery .prev{
    padding-left: 1rem;
}

#helping-hand .tns-nav,
#construction .tns-nav,
#assembly .tns-nav,
#home-repairs .tns-nav,
#painting .tns-nav,
#demolition .tns-nav,
#junk-removal .tns-nav,
#delivery .tns-nav{
    text-align: center;
    margin-top: 1rem;
    display: none;
}

#helping-hand .tns-nav button,
#construction .tns-nav button,
#assembly .tns-nav button,
#home-repairs .tns-nav button,
#painting .tns-nav button,
#demolition .tns-nav button,
#junk-removal .tns-nav button,
#delivery .tns-nav button{
    height: .5rem;
    width: .5rem;
    margin: .25rem;
    background-color: var(--blueAccent);
    border: none;
    border-radius: 50%;
}

#helping-hand .tns-nav .tns-nav-active,
#construction .tns-nav .tns-nav-active,
#assembly .tns-nav .tns-nav-active,
#home-repairs .tns-nav .tns-nav-active,
#painting .tns-nav .tns-nav-active,
#demolition .tns-nav .tns-nav-active,
#junk-removal .tns-nav .tns-nav-active,
#delivery .tns-nav .tns-nav-active{
    background-color: var(--redAccent);
}

#helping-hand img,
#construction img,
#assembly img,
#home-repairs img,
#painting img,
#demolition img,
#junk-removal img,
#delivery img{
    height: 20rem;
    object-fit: cover;
}

.title{
    height: 10rem;
    text-align: center;
    display: flex;
    color: var(--blueText);
    justify-content: space-around;
    margin-bottom: 5rem;
}

.title h2{
    font-size: 4rem;
    line-height: 10rem;
    vertical-align: middle;
}

.title i{
    font-size: 4rem;
    line-height: 10rem;
    vertical-align: middle;
}

.content{
    margin: 2rem 8rem;
    margin-bottom: 5rem;
    color: var(--redText);
}

.content p{
    font-size: 1.5rem;
    line-height: 3rem;
    text-align: justify;
}

.content b{
    font-size: 1.5rem;
}

.content a{
    width: 30rem;
    display: flex;
    justify-content: space-between;
    margin: 3rem auto;
    font-size: 2rem;
    text-decoration: none;
    transition: all .5s ease-in-out;
}

.content a h3,
.content a i{
    font-size: 2rem;
    color: var(--blueAccent);
    transition: all .5s ease-in-out;
    text-transform: uppercase;
}

.content a:hover{
    transform: scale(1.2);
}

.content a:hover h3,
.content a:hover i{
    color: var(--redAccent); 
}

#services-contact{
    background-image:linear-gradient(rgba(213, 17, 17, 0.64)0%, rgba(224, 76, 76, 0.648) 5%, rgba(225, 173, 173, 0.664) 40%, rgba(215, 218, 247, 0.679) 76%, rgba(129, 137, 246, 0.7) 94%, rgba(75, 69, 246, 0.523) 100%),
    url(./images/flag.jpg);
    background-position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#services-contact .contact-wrapper{
    display: flex;
    justify-content: space-around;
    padding: 3rem 0;
}

#services-contact .contact a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--redAccent);
    transition: all .5s ease-in-out;
}

#services-contact .contact a:hover{
    transform: scale(1.2);
    color: var(--blueAccent);
}

#services-contact .contact a i{
    font-size: 5rem;
}

#services-contact .contact a h3{
    font-size: 3.5rem;
    line-height: 5rem;
    vertical-align: middle;
    margin-left: 1.5rem;
}

@media (max-width: 1200px){
    #services-contact .contact a i{
        font-size: 3rem;
    }
    
    #services-contact .contact a h3{
        font-size: 1.5rem;
        line-height: 3rem;
    }
}

@media (max-width: 900px){
    #services-contact .contact a i{
        font-size: 4rem;
    }
    
    #services-contact .contact a h3{
        display: none;
    }

    .content{
        margin: 2rem 4rem;
    }

    #helping-hand .container,
    #construction .container,
    #assembly .container,
    #home-repairs .container,
    #painting .container,
    #demolition .container,
    #junk-removal .container,
    #delivery .container{
        margin: 2rem 1rem;
    }
}

@media (max-width: 650px){
    .title{
        height: 7rem;
        margin-bottom: 0;
    }
    
    .content p{
        font-size: 1rem;
        line-height: 2rem;
    }
    
    .content .about-content b{
        font-size: 1rem;
    }
    
    .title h2{
        font-size: 3rem;
        line-height: 7rem;
    }
    
    .title i{
        font-size: 3rem;
        line-height: 7rem;
    }

    
    .content a h3,
    .content a i{
        font-size: 1.5rem;
    }

    .content a i{
        margin-right: 1rem;
        line-height: 1.7rem;
        vertical-align: middle;
    }

    .content a{
        justify-content: center;
        margin:1rem 0;
        width: auto;
    }

    .content{
        margin: 2rem 2rem;
    }
}

@media (max-width: 490px){
    .content a h3,
    .content a i{
        font-size: 1rem;
    }

    .content a i{
        line-height: 1rem;
    }

    .title h2{
        font-size: 2rem;
    }
    
    .title i{
        font-size: 2rem;
    }
}

/* --------------------End Services.html------------------- */
/* --------------------Contact.html------------------- */

#appointment-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#appointment-contact .contact-wrapper{
    display: flex;
    width: 100vw;
    justify-content: space-around;
    padding-top: 3rem;
}

#appointment-contact .contact a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--redAccent);
    transition: all .5s ease-in-out;
}

#appointment-contact .contact a:hover{
    transform: scale(1.2);
    color: var(--blueAccent);
}

#appointment-contact .contact a i{
    font-size: 3rem;
    line-height: 4rem;
    vertical-align: middle;
    margin-right: 2rem;
}

#appointment-contact .contact a h3{
    font-size: 3rem;
    line-height: 4rem;
    vertical-align: middle;
    text-transform: uppercase;
}

#appointment{
    background-color: var(--whiteText);
    max-width: 50rem; 
    padding: 2rem;
    box-shadow: var(--boxShadow);
}

#appointment h1{
    margin-bottom: 2rem;
    font-size: 2rem;
    color: var(--blueText);
    text-transform: uppercase;
}

#appointment input,
#appointment select,
#appointment textarea{
    margin: 1rem auto;
    width: 100%;
    padding: .5rem;
    color: var(--redAccent);
    border: none;
    background-color: var(--mainBG); 
    box-shadow: var(--boxShadowInset);   
}



#appointment label{
    color: var(--blueText);
    font-weight: 700;
    letter-spacing: .03rem;
}

#appointment input::placeholder,
#appointment select,
#appointment textarea::placeholder{
    color: var(--redText) !important;
    opacity: .8;
}

#appointment span{
    color: var(--redText);
    font-size: 1rem;
    font-weight: 300;
}

#appointment .attachments{
    line-height: 2rem;
    text-decoration: none;
    color: var(--redText);
    transition: all .7s ease-in-out;
}

#appointment .attachments:hover{
    color: var(--blueAccent);
}


#appointment button{
    margin-top: 1rem;
    width: 100%;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    cursor: pointer;
    color: var(--whiteText);
    padding: .5rem;
    border: 2px solid white;
    background-color: var(--redAccent);
    outline: 2px solid var(--redAccent);
    transition: all .7s ease-in-out;
}

#appointment button:hover{
    background-color: var(--blueAccent);
    outline: 2px solid var(--blueAccent);
    transform: scale(1.1);
}

@media (max-width: 950px){
    #appointment-contact .contact-wrapper{
        justify-content: center;
    }

    #appointment-contact .contact{
        text-align: center;
        justify-content: center;
    }

    #appointment-contact .contact a h3{
        display: none;
    }

    #appointment-contact .contact a i{
        margin-right: 0;
    }

    #appointment-contact .section-title{
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media (max-width: 520px){
    #appointment{
        max-width: 25rem; 
        padding: 1rem;
    }
    #appointment h1{
        font-size: 1.5rem;
    }
    #appointment-contact .section-title{
        font-size: 2rem;
    }
    #appointment-contact .contact a i{
        font-size: 2rem;
        line-height: 2.5rem;
    }
}
/* --------------------End Contact.html------------------- */


