@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --mainFont: 'Roboto', sans-serif;
    --blueText: #010B9B;
    --redText: #CA0202;
    --whiteText: white;
    --boxShadow: 3px 3px 8px 3px rgba(0,0,0,0.48);
    --blueAccent: blue;
    --redAccent: #c40101;
    --mainBG: #F2F1FF;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: var(--mainFont);
}

body{
    background-color: var(--mainBG);
}

section{
    display: block;
    width: 100%;
}

#services,
#attributes,
#gallery,
#reviews,
#about,
#contact,
#apply,
#operating-hours{
    padding: 2rem;
}

.section-title{
    text-align: center;
    font-size: 1.8rem;
    color: var(--blueText);
    margin-bottom: 2rem;
}

.s-1{
    background-color: var(--mainBG);
}

.s-img{
    background-image:linear-gradient(rgba(255, 0, 0, 0.64)0%, rgba(255, 61, 61, 0.648) 5%, rgba(255, 199, 199, 0.664) 40%, rgba(215, 218, 247, 0.679) 76%, rgba(129, 137, 246, 0.7) 94%, rgba(75, 69, 246, 0.523) 100%),
    url(./images/flag.jpg);
    background-position: relative;
    background-attachment: fixed;

}

.hidden{
    display:none;
}

/* --------------------Hero------------------- */

#hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(255, 0, 0, 0.64)0%, rgba(255, 61, 61, 0.648) 5%, rgba(255, 199, 199, 0.664) 40%, rgba(215, 218, 247, 0.679) 76%, rgba(129, 137, 246, 0.7) 94%, rgba(75, 69, 246, 0.723) 100%);
    background-size: cover;
    position: relative;
    left: 0;
    overflow: hidden;
    
}

#hero .back-video{
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -10000;
}

#hero:before {
    content: "";
    background: rgba(0, 21, 255, 0.66) linear-gradient(rgba(255, 0, 0, 0.64)0%, rgba(255, 61, 61, 0.648) 5%, rgba(255, 199, 199, 0.664) 40%, rgba(215, 218, 247, 0.679) 76%, rgba(129, 137, 246, 0.7) 94%, rgba(75, 69, 246, 0.723) 100%) repeat scroll 0% 0%;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
  
#hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#hero h1{
    font-size: 5rem;
    text-transform: uppercase;
    text-shadow: 2px 2px white;
    color: var(--blueText);
    letter-spacing: .2rem;
    font-weight: 900;
    margin-bottom: 2rem;
}

#hero h2{
    font-size: 1.5rem;
    color: var(--whiteText);
    letter-spacing: .1rem;
    font-weight: 300;
    margin-bottom: 3rem;
}

#hero .hero-btns-wrapper{
    width: 100vw;
}

#hero .hero-btns{
    display: flex;
    justify-content: space-around;
}

#hero .hero-btns a{
    text-decoration: none;
    color: var(--redText);
    font-size: 1.2rem;
    text-transform: uppercase;
    border: 3px solid var(--redText);
    padding: .5rem .75rem;
    border-radius: .3rem;
    transition: .5s;
}

#hero .hero-btns a:hover{
    transform: scale(1.2);
    background-color: var(--blueText);
    color: var(--whiteText);
    border-color: var(--whiteText);
}

@media (max-width: 950px){
    #hero .hero-btns-wrapper{
        width: 20rem;
    }

    #hero .hero-btns{
        flex-direction: column;
    }

    #hero .hero-btns a{
        margin-bottom: 1.5rem;
    }
}

@media (max-width: 550px){
    #hero h1{
        font-size: 3rem;
    }
    #hero h2{
        font-size: 1rem;
    }
    #hero .hero-btns a{
        font-size: 1rem;
    }
}
/* --------------------End Hero------------------- */


/* --------------------Nav------------------- */

#navigation{
    background: blue;
    width: 100%;
    z-index: 9999;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    box-shadow: var(--boxShadow);
}

#navigation .nav-wrapper{
    width: 100%;
    display: table;
}

#navigation .logo{
    float: left;
}

#logo{
    height: 4rem;
    border-radius: .7rem;
}

#logo:hover{
    transform: rotate(360deg);
    transition: 1s;
}



#navigation .nav-links{
    display: flex;
    justify-content: space-around;
    list-style: none;
    line-height: 4rem;
    vertical-align: middle;
    transition: all .5s;
}

#navigation .nav-links a,
#navigation .nav-links a i{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: all .7s;
    font-size: 1.2rem;
}

#navigation .nav-links a:hover,
#navigation .nav-links a i:hover{
    color: red;
    font-size: 1.4rem;
}

#navigation .toggler{
    float: right;
    color: white;
    cursor: pointer;
    display: none;
    padding-top: .5rem;
    padding-right: .5rem;
}

#navigation .toggler i{
    font-size: 3rem;
}

@media (max-width: 800px){
    #navigation .nav-links a,
    #navigation .nav-links a i{
        font-size: 1rem;
    }

    #navigation .nav-links a:hover,
    #navigation .nav-links a i:hover{
        font-size: 1.2rem;
    }

}

@media (max-width: 650px){
    #navigation .nav-links a,
    #navigation .nav-links a i{
        font-size: .8rem;
    }

    #navigation .nav-links a:hover,
    #navigation .nav-links a i:hover{
        font-size: 1rem;
    }

}

@media (max-width: 550px){
    #navigation .nav-links a,
    #navigation .nav-links a i{
        font-size: 1.2rem;
    }

    #navigation .nav-links a:hover,
    #navigation .nav-links a i:hover{
        font-size: 1.4rem;
    }

    #navigation .nav-links{
        flex-direction: column;
        text-align: center;
        height: 100vh;
        display: none;
    }

    #navigation .toggler{
        display: block;
    }

    .collapse{
        display: flex !important;
    }
}

/* --------------------End Nav------------------- */

/* --------------------Services------------------- */
#services .services-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


#services .service-card a{
    text-decoration: none;
}

#services .service-card i{
    font-size: 3rem;
    margin: 1rem;
}

#services .service-card h4{
    font-size: 1.5rem;
    margin: 1rem;
}

#services .service-card p{
    font-size: 1rem;
    margin: 1rem;
}

#services .service-card{
    width: 15rem;
    margin: 1rem;
    position: relative;
    text-align: center;
    background-color: white;
    box-shadow: var(--boxShadow);
    border-radius: .3rem;
    padding: 1rem .5rem;
    z-index: 1;
    transition: all 1s ease-in-out;
    overflow: hidden;
}

#services .service-card::before {
    content: '';
    position: absolute;
    background: var(--redText);
    right: 0;
    left: 0;
    bottom: 0;
    top: 100%;
    transition: all 1s;
    z-index: -1;
}

#services .service-card:hover::before {
    background: var(--blueAccent);
    top: 0;
    border-radius: 0px;
}

#services .service-content .drk{
    color: var(--blueAccent);
    transition: all 1s;
}

#services .service-content .md{
    color: var(--redText);
}

#services .service-content:hover .drk{
    color: var(--redText);
}
#services .service-content:hover .md{
    color: var(--whiteText);
}


/* --------------------End Services------------------- */



/* --------------------Gallery------------------- */


#gallery .container{
    margin: 2rem auto;
    position: relative;
}

#gallery .control{
    position:absolute;
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    z-index: 10;
    line-height: 25rem;
    vertical-align: middle;
}

#gallery .control i{
    font-size: 3rem;
    color: var(--redAccent);
    transition: .5s;
    cursor: pointer;
}

#gallery .control i:hover{
    font-size: 3.5rem;
}

#gallery .next{
    padding-right: 2rem;
}

#gallery .prev{
    padding-left: 2rem;
}

#gallery .tns-nav {
    text-align: center;
    margin-top: 1rem;
}

#gallery .tns-nav button {
    height: .5rem;
    width: .5rem;
    margin: .25rem;
    background-color: var(--blueAccent);
    border: none;
    border-radius: 50%;
}

#gallery .tns-nav .tns-nav-active {
    background-color: var(--redAccent);
}

#gallery img{
    height: 25rem;
    object-fit: cover;
}
/* ----------------End-Gallery------------------- */

#reviews img, #about img{
    width: 5rem;
    height: auto;
}